.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones:  */
   [class*="col-"] {
    width: 100%;
  } 

  * {
    margin: auto;
  }

  .nav_bar {
    margin: 0rem;
    padding: 2rem;
  }

  i.fab, i.fas  {
    font-size: 1.5rem;
    padding: .3rem;
  }

  .contact_text {
    padding: 0rem;
    margin-left: 25%;
    display: inline-flex;
    margin-top: 5%;
  }

  .contact {
    margin: 0rem;
    padding: 0rem;
  }

  .main {
    margin: 0;
  }

  .photo {
    display: none;
  }

  .photo_mobile {
    display: inline-flex;
    width: 70%;
    background-image: url('./images/Beattree.png');
    box-shadow: inset 0px 0px 40px 40px rgb(47, 169, 217);
    background-repeat: unset;
    background-size: 4px auto;
    margin-left: 8%;
    margin-bottom: 5%;
  }

  img {
    width: 100%;
    height: auto;
  }

  .footer {
    display: none;
  }

  .footer_mobile {   
    display: inline-flex;
    font-size: .5rem;
    margin-left: 10%;
    margin-top: -10%;
  }
}


