
.nav_bar {
  margin-bottom: -5%;
  font-family: 'Roboto Mono', monospace;
  margin-left: 10%;
  width: 80%;
  padding: 50px;
}

.main {
  margin-top: 10%;
}

.link_text {
  color:  rgb(225, 162, 255);
  font-size: 1em;
}

.link_set {
  font-size: 1.2em;
}

i.fab, i.fas  {
  color:  rgb(0, 0, 0);
  padding: .3rem;
}

 .title {
  font-size: 2em;
  padding: 5%;
  color: rgb(69, 203, 207);
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-style: oblique;
  box-shadow: inset 0px 0px 40px 40px rgb(47, 169, 217);


} 

.title_2 {
  margin-left: 50%;
  font-family: 'Roboto Mono', monospace;
  font-size: 2em;
  color: #5CDB95;
  font-family: 'Oswald', sans-serif;
} 

.my-links {
  display: flex;
  align-items: center;
  margin-left: 35%;
  opacity: 86%;;
}

.photo {
  display: inline-flex;
  background-image: url('./images/Beattree.png');
  box-shadow: inset 0px 0px 40px 40px rgb(47, 169, 217);
  background-repeat: unset;
  background-size: 4px auto;
  margin-left: 5%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.photo_mobile {
  display: none;
}

.contact_text {
  display: inline-flex;
  margin-left: 30%;
  width: 80%;
  padding: 50px;
}

.contact {
  margin-left: 20%;
}

.footer {
  font-family: 'Roboto Mono', monospace;
  font-size: .75rem;
  margin-left: 7%;
  margin-bottom: 5%;;
}

.footer_mobile {
  display: none;
  font-family: 'Roboto Mono', monospace;
  font-size: .75rem;
  margin-left: 8%;
  margin-bottom: 5%;;
}

.about {
  border: 10px solid orangered;
  display: inline-flex;
  margin-top: 10%;
  margin-left: 10%;
  width: 75%;
}























/* not currently active 

.sub_title {
  text-align: center;
  font-size: 1em;
  color: #90CCF4;
  margin-bottom: 5%;
  font-family: 'Oswald', sans-serif;
}

.sub_title_2 {
  text-align: center;
  font-size: .75em;
  color: #90CCF4; 
  margin-bottom: 15%;
  font-family: 'Oswald', sans-serif;
}

.sub_title_3 {
  text-align: center;
  font-size: .75em;
  color: #90CCF4; 
  margin-bottom: 25%;
  margin-right: 10%;
  font-family: 'Oswald', sans-serif;
}

.image_1 {
  display: flex;
  width: 30%;
  margin-left: 40%;;
  opacity: .9;
}

.card_image {
  display: flex;
  background-color: white;
  margin-top: -20%;
  border: none;
  font-size: 5em;
  color: #05386B; 
  opacity: .9;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 5%;
  margin-left: 10%;;
}

.card_image_2 {
  display: flex;
  margin-top: -20%;
  border: none;
  font-size: 5em;
  color: #05386B; 
  opacity: .9;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 5%;
  margin-left: 10%;;
}

.a {
color: #5CDB95;
}

.card_image_3 {
  display: flex;
  background-color: white;
  margin-top: 5%;
  border: none;
  font-size: 5em;
  color: #05386B; 
  opacity: .9;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 5%;
  margin-left: 55px;
}

.card_title {
  margin: auto;
  text-align: center;
  font-size: 5em;
  color: #f3aad6;
  font-family: 'Work Sans', sans-serif;
}

.button_back {
  font-family: 'Work Sans', sans-serif;
  font-size: 2em;
  color: #f3aad6;
  margin-right: 150px;

}

.button_next {
  font-family: 'Work Sans', sans-serif;
  margin-left: 150px;
  background-color: #5CDB95;
  font-size: 2em;
}

.buttons {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  margin-top: -80px;
}

.card_sub_title {
  text-align: center;
  font-size: 2em;
  color: #f2b1d8;
  font-family: 'Work Sans', sans-serif;
}

.home_box {
  margin: auto;
  margin-top: 100px;
  width: 50%;
  background-color: #90CCF4;
  border: 10px solid #90CCF4; 
  padding: 50px;
  border-radius: 50px;
}

.react_search_box {
  margin: auto;
  margin-top: 50px;
  width: 50%;
  background-color: #13ace9;
  border: 2px solid #94f0f1; 
  padding: 100px;
  border-radius: 20px;
}

.react_card_box {
  margin: auto;
  margin-top: 50px;
  width: 50%;
  background-color: #13ace9;
  border: 2px solid #94f0f1; 
  padding: 50px;
  border-radius: 20px;
}


.next_page {
  border: 2px solid #5CDB95;
  padding: 18px;
  margin-left: 80%;
  border-radius: 100px;
  background-color: #5CDB95;
  font-family: 'Oswald', sans-serif;
  color: #05386B; 
} */


/* PALLET FIRST PAGE  */

/* .pallet_1 {
 
  padding: 30px;
  margin-left: 20%;
  width: 50px;
  border-radius: 75px;
  border: 2px solid #F2F2F2;
  background-color: #F2F2F2;

}
.pallet_2 {
  border: 2px solid #57BA98;
  background-color: #57BA98;
  padding: 30px;
  margin-left: 20%;
  width: 50px;
  border-radius: 75px;
}
.pallet_3 {
  padding: 30px;
  margin-left: 20%;
  width: 50px;
  border-radius: 75px;
  border: 2px solid #3B945E;
  background-color: #3B945E;
}
.pallet_4 {
  padding: 30px;
  margin-left: 20%;
  width: 50px;
  border-radius: 75px;
  border: 2px solid #65CCB8;
  background-color: #65CCB8;
}
.pallet_5 {
  padding: 30px;
  margin-left: 20%;
  width: 50px;
  border-radius: 75px;
  border: 2px solid #182628;
  background-color: #182628;
}

.pallet_6 {
 
  padding: 30px;
  margin-left: 50%;
  width: 50px;
  border-radius: 75px;
  border: 2px solid #D2FDFF;
  background-color: #D2FDFF;
}
.pallet_7 {
  border: 2px solid #B4DFE5;
  background-color: #B4DFE5;
  padding: 30px;
  margin-left: 50%;
  width: 50px;
  border-radius: 75px;

}
.pallet_8 {

  border: 2px solid #303C6C;
  background-color: #303C6C;
  padding: 30px;
  margin-left: 50%;
  width: 50px;
  border-radius: 75px;
  
}
.pallet_9 {

  padding: 30px;
  margin-left: 50%;
  width: 50px;
  border-radius: 75px;
  border: 2px solid #F4976C;
  background-color: #F4976C;
}
.pallet_10 {
  border: 2px solid #FBE8A6;
  background-color: #FBE8A6;
  padding: 30px;
  margin-left: 50%;
  width: 50px;
  border-radius: 75px;
}


.first_pallet {
  margin-top: 10%;
  margin-left: 25%;
  margin-bottom: 5%;
  width: 25%;
  border: 2px dotted #D2FDFF;
}
.first_pallet_text {
  font-size: 2em;
  color: #F78888;
  margin-bottom: 15%;
  margin-top: -40%;
  font-family: 'Oswald', sans-serif;
}

.second_pallet {
  margin-top: -5%;
  margin-left: 50%;
  width: 25%;
  border: 2px dotted #D2FDFF;
}
.second_pallet_text {
  font-size: 2em;
  color: #F3D250;
  margin-bottom: 15%;
  margin-right: -50%;
  margin-top: -40%;
  font-family: 'Oswald', sans-serif;
} */




/* PALLET SECOND PAGE  */

/* .pallet_11 {
  border: 2px solid #F5E6CC;
  background-color: #F5E6CC;
  padding: 30px;
  margin-left: 75%;
  width: 50px;
  border-radius: 75px;
}
.pallet_12 {
  border: 2px solid #17E9E0;
  background-color: #17E9E0;
  padding: 30px;
  margin-left: 75%;
  width: 50px;
  border-radius: 75px;
}
.pallet_13 {
  border: 2px solid #FFB48F;
  padding: 30px;
  margin-left: 75%;
  width: 50px;
  border-radius: 75px;
  background-color: #FFB48F;
}
.pallet_14 {
  padding: 30px;
  margin-left: 75%;
  width: 50px;
  border-radius: 75px;
  background-color: #FCCD04;
  border: 2px solid #FCCD04;
}
.pallet_15 {
  border: 2px solid #A64AC9;
  background-color: #A64AC9;
  padding: 30px;
  margin-left: 75%;
  width: 50px;
  border-radius: 75px;
}

.pallet_16 {
  border: 2px solid #97AABD;
  background-color: #97AABD;
  padding: 30px;
  margin-left: 50%;
  width: 50px;
  border-radius: 75px;
}
.pallet_17 {
  border: 2px solid #C96567;
  background-color: #C96567;

  padding: 30px;
  margin-left: 50%;
  width: 50px;
  border-radius: 75px;

}
.pallet_18 {
  border: 2px solid #9E5A63;
  padding: 30px;
  margin-left: 50%;
  width: 50px;
  border-radius: 75px;
  background-color: #9E5A63;
}
.pallet_19 {
  border: 2px solid #644E5B;
  background-color: #644E5B;
  padding: 30px;
  margin-left: 50%;
  width: 50px;
  border-radius: 75px;
 
}
.pallet_20 {
  border: 2px solid #314455;
  background-color: #314455;
  padding: 30px;
  margin-left: 50%;
  width: 50px;
  border-radius: 75px;
}
 
.third_pallet {
  margin-top: 10%;
  margin-left: 25%;
  margin-bottom: 5%;
  width: 25%;
  border: 2px dotted #D2FDFF;
}

.fourth_pallet {
  margin-top: -5%;
  margin-left: 50%;
  width: 25%;
  border: 2px dotted #D2FDFF;
} */